-# Chapt 11.3.4 - Added user = micropost.user - It appears there are 
-# instances where the micropost.user association throws an exception.
-# To avoid this, an explicit user = micropost.user assignment is made,
-# then we can rescue from an exception and re-find the User record.
%tr
	%td.micropost
		%span.content= micropost.content
		%span.timestamp
			Posted #{time_ago_in_words(micropost.created_at)} ago.
	- user = micropost.user rescue User.find(micropost.user_id)
	- if current_user?(user)
		%td
			= link_to "delete", micropost, :method => :delete, |
																		 :confirm => "You sure?", |
																		 :title => micropost.content